<div id="app">
  <form>
    <input type="radio" v-model="card_type" value="visa" checked><strong> Visa (Length </strong>
    <input type="radio" v-model="visa_length" value="visa13"><strong>13 </strong>
    <input type="radio" v-model="visa_length" value="visa16" checked><strong> 16</strong>)
    <br>
    <input type="radio" v-model="card_type" value="mastercard"><strong> MasterCard </strong>
    <br>
    <input type="radio" v-model="card_type" value="american_express"><strong> American Express </strong><br>
    <input type="radio" v-model="card_type" value="discover"><strong> Discover </strong>
    <br>
    <input type="button" value="Calculate" @click="cc_gen" class="btn-right">
    <strong>Generated Credit Card Number </strong>
    <input type="text" v-model="number" size="20" readonly>
    <br />
  </form>
</div>
